body {
    background: lightslategray;
}

.fourCircles {
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
}

.b1 .btn-floating {
    width: 100px;
    height: 100px;
    padding: 0;
}

.r2 .btn-floating {
    width: 100px;
    height: 100px;
    padding: 0;
    margin-right: 30px;
}

.g3 .btn-floating {
    width: 100px;
    height: 100px;
    padding: 0;
    margin-left: 30px;
}

.y4 .btn-floating {
    width: 100px;
    height: 100px;
    padding: 0;
}

h1 {
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}