body {
    background: lightslategray;
}

.fourCircles {
    position:absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left:50%;
    display: block;
}

.b1 .btn-floating {
    width: 200px;
    height: 200px;
    padding: 0;
}

.col .r2 {
    width: 200px;
    height: 200px;
}

.col .g3 {
    width: 200px;
    height: 200px;
}

.y4 .btn-floating {
    width: 200px;
    height: 200px;
    padding: 0;
}

.reset {
    margin-top: 20px;
}

.scoreWord {
    margin-top: 32px;
    font-family: nextGames1;
}

.score {
    margin-bottom: 25px;
    font-family: nextGames1;
}

.stBtn {
        font-family: nextGames;
}

.difficulty {
    font-family: nextGames;
}